AmmoEverywhere/audio/
AmmoEverywhere/itemversion.lua
AmmoEverywhere/publishedfileid.lua
AmmoEverywhere/.dev/birdiesammo2.2/Build/
AmmoEverywhere/.dev/birdiesammo2.2/.user/
AmmoEverywhere/.dev/birdiesammo2.2/.unsaved/
AmmoEverywhere/.dev/birdiesammo2.2/.cache/